    .gradient {
        background: #0167BE;
    }
    /* IE8- CSS hack */
    
    .block-header {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    
    .add-header {
        margin: 15px auto 15px;
        text-align: center;
    }
    
    .add-description {
        margin: 0 auto 15px;
        padding: 10px;
        border: 1px dashed #0064BB;
        text-align: center
    }
    
    .address {
        margin: 0 auto 15px;
    }
    
    .attribute-name {
        margin: 0 auto 15px;
        font-size: 18px;
    }
    
    .attribute-element {
        margin-bottom: 25px;
    }

    .attribute-description {
        margin: 0 auto 15px;
        padding: 10px;
        border: 1px dashed #0064BB;
        text-align: center;
    }
    
    .input-style {
        width: 95%;
        margin-left: 10px;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        height: 100%;
        text-align: center;
    }

    .input-style--margin {
        margin-left: 10px;
    }
    
    .number-style {
        width: 55px;
        // margin-left: 40%;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        text-align: center;
    }
    
    #map {
        margin-bottom: 15px
    }

    .check-time {
        text-align: center;
    }

    .check-time-element {
        margin: 0 auto;
    }

    //checkbox

    .styled-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }
    
    .styled-checkbox input[type="checkbox"] {
        display: none;
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator {
        position: absolute;
        top: 2px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 2px solid #6D6F72;
    }
    
    
    .styled-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
    .styled-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 2px;
        background-color: #6D6F72;
        top: 6px;
        left: -1px;
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator::after {
        transform: rotate(45deg);
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator::before {
        transform: rotate(-45deg);
    }

    //

    .conditions-checkboxes,
    .house-checkboxes {
        margin-bottom: 10px; 
        padding-top: 10px; 
        border: 1px solid lightgray;
    }

    .conditions-checkboxes .styled-checkbox,
    .house-checkboxes .styled-checkbox{
        display: block;
        margin-left: 35px;
    }

    .conditions-description,
    .ad-phrase-element,
    .flat-description-element {
        width: 100%;
    }

    .house-description {
        margin-bottom: 10px;
    }

    .check-floor-element {
        margin-bottom: 25px;
        text-align: center;
    }

    .house-type {
        & ul {
            padding: 0;
            list-style-type: none;
        }
        
    }

    .image-container {
        margin-bottom: 15px;
        padding-left: 33px;
    }

    .image-element {
        position: relative;
        list-style: none;
        float: left;
        width: 148px;
        height: 110px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        line-height: 103px;
        border: 2px solid #ccc;
        margin: 10px 10px 0 0;
        border-radius: 5px;
        & img {
            max-width: 100%;
            vertical-align: middle;
        }

        .img-is-main-btn {
            position: absolute;
            top: 5px;
            right: 25px;
            line-height: normal;

            & i {
                cursor: pointer;
                color: green;
            }
        }
    
        .img-remove-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            line-height: normal;
        }

        


    }

    .check-space-element {
        text-align: center;
    }

    .symbols {
        text-align: center;
        font-size: 14px;
        font-style: italic;
    }

    // @media screen and (min-width: 320px) and (max-width: 699px) {
    //     display: inline-block;
    //     margin-bottom: 20px;
    // }

    .prices, .conditions, .house-description, .flat-description {
        max-width: 800px;
        margin: 0 auto 20px;
    }

    .prices-box {
       max-width: 500px;
       margin: 0 auto;
    }

