    .gradient {
        background: #0167BE;
    }
    /* IE8- CSS hack */
    
    .block-header {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    
    .add-header {
        margin: 15px auto 15px;
        text-align: center;
    }
    
    .add-description {
        margin: 0 auto 15px;
        padding: 10px;
        border: 1px dashed #0064BB;
        text-align: center
    }
    
    .address {
        margin: 0 auto 15px;
    }
    
    .attribute-name {
        margin: 0 auto;
        font-size: 18px;
    }
    
    .attribute-element {
        margin-bottom: 10px;
    }
    
    .input-style {
        width: 95%;
        margin-left: 10px;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        height: 100%;
        text-align: center;
    }

    .input-style--margin {
        margin-left: 10px;
    }
    
    .number-style {
        width: 55px;
        // margin-left: 40%;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        text-align: center;
    }
    
    #map {
        margin-bottom: 15px
    }

    .check-time {
        text-align: center;
    }

    .check-time-element {
        margin: 0 auto;
    }

    //checkbox

    .styled-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }
    
    .styled-checkbox:hover {
        
        // text-shadow: 0 0 1em #6D6F72;
    }
    
    .styled-checkbox input[type="checkbox"] {
        display: none;
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator {
        position: absolute;
        top: 2px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 2px solid #6D6F72;
    }
    
    
    .styled-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
    .styled-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 2px;
        background-color: #6D6F72;
        top: 6px;
        left: -1px;
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator::after {
        transform: rotate(45deg);
    }
    
    .styled-checkbox input[type="checkbox"] + .checkbox-indicator::before {
        transform: rotate(-45deg);
    }

    //

    .conditions-checkboxes {
        margin-bottom: 10px; 
        padding-top: 10px; 
        border: 1px solid lightgray;
    }

    .conditions-checkboxes .styled-checkbox{
        display: block;
        margin-left: 35px;
    }

    .conditions-description {
        width: 100%;
    }